/* base */
:root {
  --Black: #333;
  --White: #FFF;
}
/* primary */
:root {
  --Primary-Blue: #1846c7;
  --Primary-Blue-24: #c8d3f2;
  --Primary-Blue-8: #edf0fb;
  --Primary-Pink: #ee215b;
  --Primary-Pink-24: #fbcadb;
  --Primary-Pink-8: #feedf2;
}
/* gray */
:root {
  --Gray-Gray-80: #5c5c5c;
  --Gray-Gray-60: #858585;
  --Gray-Gray-40: #adadad;
  --Gray-Gray-12: #e7e7e7;
  --Gray-Gray-4: #f7f7f7;
}
/* secondary */
:root {
  --Secondary-Blue: #0091ff;
  --Secondary-Purple: #a50aff;
  --Secondary-Green: #22b217;
  --Secondary-Red: #e02e2e;
  --Secondary-Orange: #fa6400;
  --Secondary-Yellow: #F78500;
}
