.auth-form {
    position: relative;
    left: -50%;
    top: -30vh;
    min-width: 30vw;
    max-width: 30vw;
    min-height: 70vh;
    padding: 40px;
    border: 1px solid #444;
    border-radius: 10px;
    /*display: flex;*/
    /*justify-content: center;*/
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
}