.comment {
    border-left: 2px solid #0079d3;
    padding-left: 10px;
    margin-bottom: 20px;
}

.comment-header {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.comment-author {
    color: #0091ff;
}

.comment-date {
    color: #888;
}

.comment-id {
    color: #0091ff;
}

.comment-text {
    margin-bottom: 5px;
    text-align: left;
    line-height: 1.5;
}

.comment-deleted {
    margin-bottom: 5px;
    text-align: left;
    line-height: 1.5;
    color: darkred;
}

.comment-title {
    margin-bottom: 5px;
    text-align: left;
    line-height: 1.5;
    font-weight: bold;
}

.comment-replied-to {
    display: flex;
    color: #0091ff;
}

.comment-replies {
    display: flex;
    color: #0091ff;
}